# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage
*.lcov
.nyc_output

# next.js
/.next/
/out/
.turbo

# production
/build
/dist

# misc & OS
.DS_Store
Thumbs.db
Desktop.ini
*.pem
*.key
*.cert

# debug & logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript & linter
*.tsbuildinfo
next-env.d.ts
.eslintcache

# data dumps / large session files
session.json
*.session.json